<div class="flex align-middle">
    <p class="text-green-500 m-auto mr-4">E-Gume</p>
    <nav class="flex">
        <ul class="flex inline m-auto">
            <li>
                <a class="p-4 hover:bg-green-400 hover:text-white underline"
                   href="{{ path('index') }}">
                    {% trans %} header.navbar.home {% endtrans %}
                </a>
            </li>
            <li>
                <a class="p-4 hover:bg-green-400 hover:text-white underline"
                   href="{{ path('boutique') }}">
                    {% trans %} header.navbar.shop {% endtrans %}
                </a>
            </li>
            <li>
                <a class="p-4 hover:bg-green-400 hover:text-white underline"
                   href="{{ path('contact') }}">
                    {% trans %} header.navbar.contact {% endtrans %}
                </a>
            </li>
        </ul>
    </nav>
</div>

<!--dropdown language-->
<div class="flex">
    <a href="{{ path('panier') }}"><img src="{{ asset('images/cart.png') }}" alt="cart" class="w-14 mx-4"></a>
    <form action="{{ path('search') }}" class="h-fit w-fit">
        <input type="search" name="search" class="border-0 border-b-2 border-gray-600 outline-none focus:border-s0 focus:border-green-400">
    </form>
    <button id="dropdownButton" data-dropdown-toggle="dropdown" class="p-4 hover:bg-green-400 hover:text-white underline inline align-top" type="button">
        {% trans %} header.button.language {% endtrans %}
    </button>
</div>

<div id="dropdown" class="hidden z-10 w-44 text-base list-none bg-white rounded divide-y divide-gray-100 shadow border border-slate-800 text-center">
    <ul class="py-1" aria-labelledby="dropdownButton">
        {% set route = app.request.attributes.get('_route') %}
        {% set params = app.request.attributes.get('_route_params') %}
        <li>
            <a href="{{ path(route, params | merge({'_locale': 'fr' })) }}">{% trans %}header.button.french{% endtrans %}</a>
        </li>
        <li>
            <a href="{{ path(route, params | merge({'_locale': 'en' })) }}">{% trans %}header.button.english{% endtrans %}</a>
        </li>
    </ul>
</div>
